---

- name: Install dependencies for batman-adv batctl and alfred
  apt:
    name: '{{ packages }}'
    state: 'latest'
    update_cache: yes
    cache_valid_time: 86400
  vars:
    packages:
    - wget
    - git
    - build-essential
    - pkg-config
    - linux-headers-amd64
    - libnl-3-dev
    - libnl-genl-3-dev
    - libjson-c-dev
    - libcap-dev
    - libcap2-bin
    - radvd

- name: Create '/root/download/' directory
  file:
    path: '/root/download'
    state: directory
    mode: 'u=rwx,g=rx,o=rx'

- name: Download 'B.A.T.M.A.N.' Advanced
  get_url:
    url: 'https://downloads.open-mesh.org/batman/releases/batman-adv-{{ batman_version }}/batman-adv-{{ batman_version }}.tar.gz'
    dest: '/root/download/batman-adv.{{ batman_version }}.tar.gz'
    checksum: sha256:{{ batman_sha256sum }}
  register: batmanadv

- name: Create '/tmp/batman-adv/' directory
  file:
    path: '/tmp/batman-adv'
    state: directory
    mode: 'u=rwx,g=rx,o=rx'
  when: batmanadv.changed

- name: Unpack batman-adv archive
  unarchive:
    src: '/root/download/batman-adv.{{ batman_version }}.tar.gz'
    dest: '/tmp/batman-adv/'
    remote_src: yes
  when: batmanadv.changed

- name: Make batman-adv
  make:
    chdir: '/tmp/batman-adv/batman-adv-{{ batman_version }}'
    params: 
      CONFIG_BATMAN_ADV_DEBUGFS: y
      NUM_THREADS: 4
  when: batmanadv.changed

- name: Make install batman-adv
  make:
    chdir: '/tmp/batman-adv/batman-adv-{{ batman_version }}'
    target: install
    params: 
      CONFIG_BATMAN_ADV_DEBUGFS: y
      NUM_THREADS: 4
  when: batmanadv.changed

- name: Download batctl
  get_url:
    url: 'https://downloads.open-mesh.org/batman/releases/batman-adv-{{ batman_version }}/batctl-{{ batman_version }}.tar.gz'
    dest: '/root/download/batctl.{{ batman_version }}.tar.gz'
    checksum: sha256:{{ batctl_sha256sum }}
  register: batctldl

- name: Create '/tmp/batctl/' Directory
  file:
    path: '/tmp/batctl'
    state: directory
    mode: 'u=rwx,g=rx,o=rx'
  when: batctldl.changed

- name: Unpack batctl archive
  unarchive:
    src: '/root/download/batctl.{{ batman_version }}.tar.gz'
    dest: '/tmp/batctl/'
    remote_src: yes
  when: batctldl.changed

- name: Make batctl
  make:
    chdir: '/tmp/batctl/batctl-{{ batman_version }}'
    params:
      NUM_THREADS: 4
  when: batctldl.changed

- name: Make install batctl
  make:
    chdir: '/tmp/batctl/batctl-{{ batman_version }}'
    target: install
    params:
      NUM_THREADS: 4
  when: batctldl.changed

- name: Create alfred group
  group:
    name: alfred
    state: present
    system: yes

- name: Create alfred user
  user:
    name: alfred
    groups: alfred
    shell: '/bin/false'
    system: yes
    home: '/var/run/alfred'

- name: Download alfred
  get_url:
    url: 'https://downloads.open-mesh.org/batman/stable/sources/alfred/alfred-{{ batman_version }}.tar.gz'
    dest: '/root/download/alfred.{{ batman_version }}.tar.gz'
    checksum: sha256:{{ alfred_sha256sum }}
  register: alfreddl

- name: Create '/tmp/alfred/' Directory
  file:
    path: '/tmp/alfred'
    state: directory
    mode: 'u=rwx,g=rx,o=rx'
  when: alfreddl.changed

- name: Unpack alfred archive
  unarchive:
    src: '/root/download/alfred.{{ batman_version }}.tar.gz'
    dest: '/tmp/alfred/'
    remote_src: yes
  when: alfreddl.changed

- name: Make alfred
  make:
    chdir: '/tmp/alfred/alfred-{{ batman_version }}'
    params:
      NUM_THREADS: 4
      CONFIG_ALFRED_GPSD: n
      CONFIG_ALFRED_VIS: n
  when: alfreddl.changed

- name: Make install alfred
  make:
    chdir: '/tmp/alfred/alfred-{{ batman_version }}'
    target: install
    params:
      NUM_THREADS: 4
      CONFIG_ALFRED_GPSD: n
      CONFIG_ALFRED_VIS: n
  when: alfreddl.changed

- name: Set Linux capabilities for alfred
  capabilities:
    path: '/usr/local/sbin/alfred'
    capability: 'cap_net_raw+ep'
    state: present
  when: alfreddl.changed

- name: Copy Router-Advertisement configuration
  template:
    src: 'templates/freifunk-files/radvd.conf'
    dest: '/etc/radvd.conf'
    owner: 'root'
    group: 'root'
    mode: 0755

