[submodule "templates/gateway-page"]
	path = templates/gateway-page
	url = https://github.com/ffbsee/gateway-page.git
[submodule "templates/api"]
	path = templates/api
	url = https://github.com/ffbsee/api.git
[submodule "files/icvpn-meta"]
	path = files/icvpn-meta
	url = https://github.com/freifunk/icvpn-meta.git
[submodule "roles/unbound_freifunk_tlds"]
	path = roles/unbound_freifunk_tlds
	url = https://github.com/ffbsee/unbound_freifunk_tlds.git
[submodule "roles/unbound"]
	path = roles/unbound
	url = https://github.com/ffbsee/unbound.git
[submodule "templates/FFNodeList"]
	path = templates/FFNodeList
	url = https://github.com/ffbsee/FFNodeList.git
[submodule "roles/ssh_authorized_keys"]
	path = roles/ssh_authorized_keys
	url = https://github.com/chaos-bodensee/role-ssh_authorized_keys.git
[submodule "files/ssh_authorized_keys"]
	path = files/ssh_authorized_keys
	url = https://gitea.see-base.de/toolbox/ssh-public-keys.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/chaos-bodensee/role_sshd.git
[submodule "roles/home_environment"]
	path = roles/home_environment
	url = https://github.com/chaos-bodensee/role_dotfiles.git
[submodule "roles/base_packages"]
	path = roles/base_packages
	url = https://github.com/chaos-bodensee/role-base_packages.git
[submodule "roles/install-bat"]
	path = roles/install-bat
	url = https://github.com/gantsign/ansible_role_bat.git
[submodule "roles/manage_users"]
	path = roles/manage_users
	url = https://github.com/chaos-bodensee/role-manage_users.git
[submodule "roles/ansible_version"]
	path = roles/ansible_version
	url = https://github.com/chaos-bodensee/role-ansible_version.git
[submodule "roles/telegraf"]
	path = roles/telegraf
	url = https://github.com/dj-wasabi/ansible-telegraf.git
[submodule "roles/grafana"]
	path = roles/grafana
	url = https://github.com/cloudalchemy/ansible-grafana.git
[submodule "roles/prometheus"]
	path = roles/prometheus
	url = https://github.com/cloudalchemy/ansible-prometheus.git
[submodule "roles/golang"]
	path = roles/golang
	url = https://github.com/gantsign/ansible-role-golang.git
[submodule "roles/python3-default"]
	path = roles/python3-default
	url = https://github.com/DEvil0000/ansible-role-python3-default.git
