[submodule "templates/gateway-page"]
	path = templates/gateway-page
	url = https://github.com/ffbsee/gateway-page.git
[submodule "templates/api"]
	path = templates/api
	url = https://github.com/ffbsee/api.git
[submodule "files/icvpn-meta"]
	path = files/icvpn-meta
	url = https://github.com/freifunk/icvpn-meta.git
[submodule "roles/unbound_freifunk_tlds"]
	path = roles/unbound_freifunk_tlds
	url = https://github.com/ffbsee/unbound_freifunk_tlds.git
[submodule "roles/unbound"]
	path = roles/unbound
	url = https://github.com/ffbsee/unbound.git
[submodule "templates/FFNodeList"]
	path = templates/FFNodeList
	url = https://github.com/ffbsee/FFNodeList.git
[submodule "roles/ssh_authorized_keys"]
	path = roles/ssh_authorized_keys
	url = https://github.com/ffbsee/role-ssh_authorized_keys.git
[submodule "roles/base-packages"]
	path = roles/base-packages
	url = https://gitea.see-base.de/toolbox/role-base_packages.git
[submodule "files/ssh_authorized_keys"]
	path = files/ssh_authorized_keys
	url = https://gitea.see-base.de/toolbox/ssh-public-keys.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/DO1JLR/role_sshd.git
[submodule "roles/home_environment"]
	path = roles/home_environment
	url = https://github.com/DO1JLR/role_dotfiles.git
