[submodule "templates/gateway-page"]
	path = templates/gateway-page
	url = https://github.com/ffbsee/gateway-page.git
[submodule "templates/api"]
	path = templates/api
	url = git@github.com:ffbsee/api.git
[submodule "files/icvpn-meta"]
	path = files/icvpn-meta
	url = https://github.com/freifunk/icvpn-meta.git
