ddns-update-style none;

failover peer "dhcp-failover" {
  secondary;
  address 10.15.224.4;
  port 647;
  peer address 10.15.224.1;
  peer port 647;
  max-response-delay 30;
  max-unacked-updates 10;
  load balance max seconds 3;
}


# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
authoritative;

if (packet(24, 4) != 00:00:00:00) {
    set last_giaddr = packet(24, 4);
}

# Ubiquity
option space ubnt;
option ubnt.unifi-address code 1 = ip-address;

class "ubnt" {
    match if substring (option vendor-class-identifier, 0, 4) = "ubnt";
    option vendor-class-identifier "ubnt";
    vendor-option-space ubnt;
}

subnet 10.15.224.0 netmask 255.255.240.0 {
  pool {
        range 10.15.225.0 10.15.238.254;
        failover peer "dhcp-failover";
       }

  option domain-name-servers 10.15.224.4;
  option domain-name "ffbsee.net";
  option routers 10.15.224.4;
  option broadcast-address 10.15.239.255;
  option subnet-mask 255.255.240.0;
  interface br-ffbsee;
  default-lease-time 7200;
  max-lease-time 14400;
  option ubnt.unifi-address 10.15.224.201;

if (packet(24, 4) != 00:00:00:00) {
        option routers = packet(24, 4);
        option domain-name-servers = packet(24, 4);
    }

}
