ddns-update-style none;

# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
authoritative;
default-lease-time 1200;
max-lease-time 3600;
option domain-name "ffbsee.net";

# Ubiquity
option space ubnt;
option ubnt.unifi-address code 1 = ip-address;

class "ubnt" {
    match if substring (option vendor-class-identifier, 0, 4) = "ubnt";
    option vendor-class-identifier "ubnt";
    vendor-option-space ubnt;
}

subnet 10.15.224.0 netmask 255.255.240.0 {
  pool {
        range 10.15.239.128 10.15.239.253;
       }

  option domain-name-servers 10.15.224.2, 10.15.224.1;
  option routers 10.15.224.2;
  option ubnt.unifi-address 10.15.224.5;


}
