---
hostname: 'gw04.ffbsee.net'

ipv4_mesh_address: '10.15.224.4'

ipv6_suffix: ':4'
ipv6_radv_suffix: ':1'
ipv6_address: '{{ ipv6_prefix }}{{ ipv6_suffix }}'
mesh_ipv6_extra_addr: ''
mesh_ipv6_address: '{{ ipv6_address }}'
ipv6_radv_address: '{{ ipv6_prefix }}{{ ipv6_radv_suffix }}'
ipv6_radv_prefix: '{{ ipv6_prefix }}:/64'

wan_ipv6_network: '2a02:590:9:ffb5::/64'
wan_ipv6_ip: '2a02:590:9:ffb5::1'
wan_base_interface: 'eth1'
wan_vlan_id: ''
wan_interface: '{{ wan_base_interface }}{% if wan_vlan_id != "" %}.{{ wan_vlan_id }}{% endif %}'
wan_ipv4_ip: '217.24.203.174'

fastd_secret_key: ''
vpn_on_port_443: 'false'

run_mesh: 'true'
run_gateway: 'true'
run_webserver: 'false'
run_icvpn: 'false'
run_map: 'false'
run_stats: 'false'
da_laueft_ein_dhcp_relay: 'true'
freifunk_dhcp_server: 'false' 
freifunk_dhcp_relay: 'true'



fastd_vpn_backbone_configs:
  - gw01
  - gw03
  - map
  - mate
  
fastd_peer_limit: ''

ipv6_uplink_announcen: 'true'
radv_AdvDefaultPreference: 'medium'

debian: '10'
number_of_cores: '8'
freifunk_karte_api: 'false'

nodelist: 'false'

block_rfc1918_interface: "{{ wan_base_interface }}"

